* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 300px;
    margin: 10rem auto;
    background: #d8b267;
    background-image: url(img/Pizzaria.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.logo__PCRJ {
    width: 200px;
    margin-left: 50px;
    transition: 0.7s;
}
.logo__PCRJ:hover {
    transform: scale(1.1);
}
input {
    padding: 10px;
    width: 100%;
    margin: 5px 0 10px;
    border: none;
    border-radius: 5px;
    display: block;
    transition: 0.7s;
    font-size: 20px;
    box-shadow: 1px 5px 20px #2c8100;
}
input:hover {
    transform: scale(1.02);
}
label {
    font-size: 25px;
    font-weight: bold;
    margin-top: 3rem;
    padding-left: 0.5rem;
    display: block;
    cursor: pointer;
    color: #2c8100;
    transition: 0.7s;
}
label:hover {
    color: #41af0a;
}
.btn__PCRJ {
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    padding: 10px;
    width: 50%;
    background: #ffc15c;
    color: #517240;
    margin: 20px 0 10px 75px;
    cursor: pointer;
    transition: 0.7s;
}
.btn__PCRJ:hover {
    background: #f09200;
    transform: scale(1.1);
}
.paragrafo__resultado__PCRJ {
    font-size: 20px;
    font-weight: bold;
    margin: 1rem 0;
}